#sun {
	background:#f99;
	color:#900;
}

#sat {
	background:#99f;
	color:#009;
}

#nor {
	background:#ccc;
	color:#666;
}

#hol {
	background:#ccc;
}

body {
	color:#f00;
	background:#f00;
}