/*******************************************************************************
 container
*********************************************************************************/
.cal-container, #cal-container {
  background-color: #fff;
  border: 1px solid #000;
  overflow:hidden;
  padding: 0;
  margin: 0;
  position:absolute;
  width: 200px;
  z-index: 10;

  font-size: 13px;
}

.cal-container iframe {
  border:none;
  height:100%;
  left:0px;
  margin:0;
  padding:0;
  position:absolute;
  top:0px;
  width:100%;
  z-index:0;
}

/*******************************************************************************
 calendar
*********************************************************************************/
table.cal-table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.cal-header {
  background-image: url(../images/metal/base_dark.gif);
  color: #A4ADB8;
  font-size:0px;
  line-height:0px;
  text-indent:-5000px;
  height:30px;
  padding: 8px 6px 5px 6px;
}

.cal-body {
  background-image: url(../images/metal/base_light.gif);
  padding: 5px;
  text-align: center;
}
.cal-footer-top {
  display: none;
}

.cal-weekday {
  color:#ADAAB5;
  text-align: center;
}

.cal-otherday {
  text-align: center;
}

.cal-sunday {
  color:#EC383E;
  text-align: center;
}

.cal-saturday {
  color:#0072BC;
  text-align: center;
}

.cal-holiday {
  color:#EC383E;
  text-align: center;
}

.cal-label-cell {
  padding-bottom: 7px;
  color: ADAAB5;
  font-size: 75%;
  text-align: center;
}

.cal-label-row .cal-sunday {
  color: #F78E73;
  text-align: center;
}

.cal-label-row .cal-saturday {
  color: #73A2DE;
  text-align: center;
}

.cal-day-cell {
  width: 14%;
  height: 18px;
  line-height: 1.7;
}

.cal-input-hour-minute {
  background-image: url(../images/metal/base_dark.gif);
  padding-top: 6px;
  text-align: center;
  height:28px;
}
.cal-error-list {
  background-color: #F7CEE1;
  padding: 2px 5px 2px 5px;
  font-size: 80%;
  list-style: none;
}
.cal-error-list li {
  padding-top: 2px;
  padding-bottom: 2px;
  background: #F7CEE1 url(../images/error.gif) no-repeat center left;
  margin-left: 5px;
  text-indent: 20px;
}
/* for ie bug */
* html .cal-error-list li {
  text-indent: 5px;
}

.cal-ok-button {
  margin-left: 10px;
}

/*******************************************************************************
 link
*********************************************************************************/

.cal-select-year{
  float: left;
  margin:0 0 0 5px;
  width:60px;
  padding: 0; 
}
.cal-select-month{
  float: left;
  margin:0 0 0 10px; 
  padding: 0;
  width:60px;
}

.cal-next-btn {
  background-image:url(../images/metal/button_right_off.gif);
  cursor: pointer;
  display:block;
  float:right;
  height:25px;
  text-indent: -10000px;
  width:24px;
}
.cal-next-btn:hover {
  background-image:url(../images/metal/button_right_on.gif);
}

.cal-prev-btn {
  background-image:url(../images/metal/button_left_off.gif);
  cursor: pointer;
  display:block;
  float:left;
  height:25px;
  text-indent: -10000px;
  width:24px;
}
.cal-prev-btn:hover {
  background-image:url(../images/metal/button_left_on.gif);
}

.cal-day-cell a:link,
.cal-day-cell a:visited,
.cal-day-cell a:active {
  color: #000;
  display:block;
  font-weight:bold;
  text-decoration: none;
}

/*******************************************************************************
*********************************************************************************/

.cal-sunday a:link,
.cal-sunday a:visited,
.cal-sunday a:active {
  color: #FA4A1C;
  display:block;
  font-weight:bold;
  text-decoration: none;
}
.cal-saturday a:link,
.cal-saturday a:visited,
.cal-saturday a:active {
  color: #2D64C8;
  display:block;
  font-weight:bold;
  text-decoration: none;
}

.cal-holiday a:link,
.cal-holiday a:visited,
.cal-holiday a:active {
  color: #FA4A1C;
  display:block;
  font-weight:bold;
  text-decoration: none;
}

.cal-otherday a:link,
.cal-otherday a:visited,
.cal-otherday a:active {
  color: #8A8A8A;
  display:block;
  font-weight:bold;
  text-decoration: none;
}

.cal-day-cell a:hover {
  background: #FFBEDE;
  text-decoration: none;
}

.cal-selected {
  background-color:#FFBEDE;
  font-weight: bold;
  text-align: center;
}

.cal-day-cell a:link.cal-selected,
.cal-day-cell a:visited.cal-selected,
.cal-day-cell a:active.cal-selected {
  background:#FFBEDE;
  display:block;
  text-decoration: none;
}
