/*******************************************************************************
 container
*********************************************************************************/
.cal-container, #cal-container {
  background-color: #fff;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 200px;
  z-index: 10;

  font-size: 13px;
}

.cal-container iframe {
  border:none;
  height:100%;
  left:0px;
  margin:0;
  padding:0;
  position:absolute;
  top:0px;
  width:100%;
  z-index:0;
}

/*******************************************************************************
 calendar
*********************************************************************************/
table.cal-table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.cal-header-top {
  height: 11px;
  background: #fff url(../images/paper/base_header.gif) no-repeat bottom center;
}
.cal-header {
  background: #fff url(../images/paper/base_body.gif) repeat-y top center;
  color: #fff;
  height:30px;
  margin: 0;
  padding: 0;
  font-size: 0px;
  line-height:0px;
  font-decoration: none;
  text-indent:-5000px;

}
.cal-body-top {
  font-size: 0px;
  height: 2px;
  background: #fff url(../images/paper/base_line.gif) no-repeat top center;
}
.cal-border {
  font-size: 0px;
  height: 2px;
  background: #000 url(../images/paper/base_line.gif) no-repeat top center;
}
.cal-body {
  background:url(../images/paper/base_body.gif) repeat-y top center;
  padding: 4px 2px 2px 2px;
  text-align: center;
}
.cal-footer-top {
  display: none;
}

.cal-footer {
  margin:0px;
  height: 29px;
  background:url(../images/paper/base_footer.gif) no-repeat bottom center;
}
.cal-weekday {
  text-align: center;
}

.cal-otherday {
  text-align: center;
}

.cal-sunday {
  color:#F78E73;
  text-align: center;
}

.cal-saturday {
  color:#73A2DE;
  text-align: center;
}

.cal-holiday {
  color:#F78E73;
  text-align: center;
}

.cal-label-cell {
  padding-bottom: 7px;
  color: #8A8A8A;
  font-size: 80%;
  text-align: center;
}

.cal-label-row .cal-sunday {
  color: #F3866A;
  text-align: center;
}

.cal-label-row .cal-saturday {
  color: #699AD8;
  text-align: center;
}

.cal-day-cell {
  width: 14%;
  height: 15px;
  line-height: 1.7;
}
.cal-input-hour-minute {
  background:url(../images/paper/base_body.gif) repeat-y top center;
  padding-top: 5px;
  text-align: center;
}
.cal-error-list {
  background: #fff url(../images/paper/base_body.gif) repeat-y top center;
  padding: 7px 5px 0 5px;
  font-size: 80%;
  list-style: none;
}
.cal-error-list li {
  padding-top: 2px;
  margin-left: 5px;
  text-indent: 5px;
  background: url(../images/error.gif) no-repeat center left;
  text-indent: 20px;
}
/* for ie bug */
* html .cal-error-list li {
  text-indent: 5px;
}

.cal-ok-button {
  margin-left: 2px;
}

/*******************************************************************************
 link
*********************************************************************************/

.cal-select-year {
  float: left;
  margin: 0 0 0 3px;
  width: 60px;
  padding: 0;
}
.cal-select-month {
  float: left;
  margin: 0 0 0 3px; 
  padding: 0;
  width: 60px;
}

.cal-next-btn {
  background: #fff url(../images/paper/button_right_off.gif) no-repeat center left;
  cursor: pointer;
  display: block;
  float: right;
  height: 25px;
  text-indent: -10000px;
  width:24px;
  margin:0 5px 0 0;
}
.cal-next-btn:hover {
  background: #fff url(../images/paper/button_right_on.gif) no-repeat center left;
}

.cal-prev-btn {
  margin:0 0 0 5px;
  background: #fff url(../images/paper/button_left_off.gif) no-repeat center left;
  cursor: pointer;
  display: block;
  float: left;
  height: 25px;
  text-indent: -10000px;
  width: 24px;
}

.cal-prev-btn:hover{
  background: #fff url(../images/paper/button_left_on.gif) no-repeat center right;
}

.cal-day-cell a:link,
.cal-day-cell a:visited,
.cal-day-cell a:active {
  color: #000;
  display:block;
  font-weight:bold;
  text-decoration: none;
}

/*******************************************************************************

*********************************************************************************/

.cal-sunday a:link,
.cal-sunday a:visited,
.cal-sunday a:active {
  color: #FA4A1C;
  display:block;
  font-weight:bold;
  text-decoration: none;
}
.cal-saturday a:link,
.cal-saturday a:visited,
.cal-saturday a:active {
  color: #2D64C8;
  display:block;
  font-weight:bold;
  text-decoration: none;
}

.cal-holiday a:link,
.cal-holiday a:visited,
.cal-holiday a:active {
  color: #FA4A1C;
  display:block;
  font-weight:bold;
  text-decoration: none;
}

.cal-otherday a:link,
.cal-otherday a:visited,
.cal-otherday a:active {
  color: #8A8A8A;
  display:block;
  font-weight:bold;
  text-decoration: none;
}

/*******************************************************************************

*********************************************************************************/

.cal-day-cell a:hover {
  background: #FFBEDE;
  text-decoration: none;
}

.cal-selected {
  background: #fff url(../images/paper/check.gif) no-repeat top center;
  font-weight: bold;
  text-align: center;
}

.cal-day-cell a:link.cal-selected,
.cal-day-cell a:visited.cal-selected {
  background: #fff url(../images/paper/check.gif) no-repeat top center;
  display:block;
  text-decoration: none;
}

.cal-day-cell a:active.cal-selected {
  background:#FFBEDE;
  display:block;
  text-decoration: none;
}

