<div id="footer">
	<?php
	if (!preg_match("/support/",$_SERVER['PHP_SELF'])){ ?>
	<div id="center"><a href="/support.html"><span class="formBtn">予約フォーム</span></a> <span class="tel">TEL : 06-6881-0170</span></div>
	<?php
	}
	?>

<?php
function the_permalink(){
	if ($_SERVER['PHP_SELF'] == '/index.html'){
		echo "http://" . $_SERVER['HTTP_HOST'] . "/";
	} else {
		echo "http://" . $_SERVER['HTTP_HOST'] . $_SERVER['PHP_SELF'];
	}
}
?>
<div align="center">
	<a href="https://line.me/ti/p/7_fJk59rmN"><img src="/images/line.jpg"></a>
</div>
	<!-- SNS buttons -->
	<div id="share">
		<ul>
		<!-- Twitter -->
			<li class="share-twitter">
				<a href="https://twitter.com/home?status=<?php echo urlencode('#スタジオアージュ'); ?>%20<?php the_permalink(); ?>%20" target="_blank"><span>&#229;</span> Twitter</a>
			</li>
			<!-- Facebook -->
			<li class="share-facebook">
				<a href="https://www.facebook.com/sharer/sharer.php?u=<?php the_permalink(); ?>" target="_blank"><span>&#228;</span> Facebook</a>
			</li>
			<!-- はてなブックマーク -->
			<li class="share-hatena">
				<a href="https://b.hatena.ne.jp/add?mode=confirm&url=<?php the_permalink(); ?>" target="_blank"><span>&#230;</span> はてブ</a>
			</li>
			<!-- Pocket -->
			<li class="share-pocket">
				<a href="https://getpocket.com/edit?url=<?php the_permalink(); ?>" target="_blank"><span>&#202;</span> Pocket</a>
			</li>
		</ul>
	</div>

	<p style="clear:both;">
		<a href="aboutus.html">会社概要</a>-<a href="policy.html">プライバシーポリシー</a>-<a href="access.html">アクセス</a>-<a href="support.html">お問合せ</a>
	</p>

	<ul id="footer_menu" style="text-align:center; margin:0 auto;">
		<li style="padding-left:1em;"><a href="portrait.html">記念写真</a><span>(<a href="portrait.html">お宮参り・七五三(早撮り)など</a>)</span></li>
		<li><a href="idphoto.html">証明写真</a></li>
		<li><a href="my-number-card.html">マイナンバーカード</a></li>
		<li><a href="cmphoto.html">商品撮影</a></li>
	</ul>
	<ul id="footer_menu2" style="text-align:center; margin:0 auto;">
		<li><a href="parking.html">近隣のコインパーキング</a></li>
		<li><a href="support.html">予約(お問合せ)</a></li>
		<li><a href="sitemap.html">サイトマップ</a></li>
	</ul>

	<button class="scroll-top" id="js-button"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>

	<address style="margin:0 auto;padding:0;">Copyright (C) <?php print date("Y"); ?> 記念写真(お宮参り・七五三など)・証明写真の スタジオアージュ.</address>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60502826-1', 'auto');
  ga('send', 'pageview');
</script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="/dist/main.js"></script>
