<div id="header" style="width:1020px;margin:0 auto;padding:0;">
    <?php
  if($_SERVER['PHP_SELF'] == '/index.html'){
  ?>
    <h1><a href="https://studio-age.com/"><span itemprop="description">お宮参り・七五三などの記念写真、就活などの証明写真は大阪天満宮近くのアージュ</span></a>
    </h1>
    <div style="float:left;"><a href="/"><img src="images/header.jpg" alt="証明写真・天満宮・記念写真スタジオアージュ" width="427"
                                              height="69"></a>
    </div>
    <div style="padding-top:0;padding-right:8px;text-align:left;font-size: 12px;">
        <p>撮影のプロによる<strong>大阪天満宮でのお宮参り</strong>や<strong>七五三</strong>、家族写真などの記念写真や就職活動用証明写真などは<strong>大阪</strong>市北区の写真館スタジオアージュ。
        </p>
    </div>
    <?php
  } else {
  ?>
    <div style="float:left;"><a href="/"><img src="images/header.jpg" alt="証明写真・天満宮・記念写真スタジオアージュ" width="427"
                                              height="69" border="0"/></a>
    </div>
    <?php
  }
  ?>
    <div id="header_location" style="clear:left;text-align:left;">
        <p><em>大阪府</em>大阪市北区 天神橋2丁目3番22号　西川ビル2F
            (地下鉄谷町/堺筋線「南森町」駅・JR東西線「大阪天満宮」駅から徒歩1分)</p>
    </div>
    　
    <!--   <div align="center"><a href="portrait.html"><img src="img/bottun_1.jpg" alt="記念写真" width="110" height="42" border="0" /></a> <a href="idphoto.html"><img src="img/bottun_2.jpg" alt="証明写真" width="110" height="42" border="0" /></a> <a href="cmphoto.html"><img src="img/bottun_3.jpg" alt="商品撮影" width="110" height="42" border="0" /></a> <a href="support.html"><img src="img/bottun_4.jpg" alt="ご予約" width="110" height="42" border="0" /></a> <a href="access.html"><img src="img/bottun_5.jpg" alt="アクセス" width="110" height="42" border="0" /></a> <a href="sitemap.html"><img src="img/bottun_6.jpg" alt="サイトマップ" width="110" height="42" border="0" /></a></div>-->
    <div style="width:100%;margin:0 auto;text-align:center;">
        <ul style="list-style:none;width:100%;margin:0 auto;padding:0;vertical-align:top;text-indent:0;">
            <li style="display:inline-block;width:10.5%;padding:5px .5% 0 5px;background-color:orange;text-align:center;height:3rem;vertical-align:top;font-size:1rem;">
                <a href="/" style="color:white;text-decoration:none;width:100%;height:100%;">TOP<br><span
                        style="font-size:.8rem;">（st.age）</span></a>
            </li>
            <li style="display:inline-block;width:10.5%;padding:5px .5% 0 5px;background-color:orange;text-align:center;height:3rem;vertical-align:top;font-size:1rem;">
                <a href="portrait.html"
                   style="color:white;text-decoration:none;width:100%;height:100%;">記念写真<br><span
                        style="font-size:.6rem;">（お宮参り・七五三）</span></a>
            </li>
            <li style="display:inline-block;width:10.5%;padding:5px .5% 0 5px;background-color:orange;text-align:center;height:3rem;vertical-align:top;font-size:1rem;">
                <a href="idphoto.html"
                   style="color:white;text-decoration:none;width:100%;height:100%;">証明写真<br><span
                        style="font-size:.6rem;">（プロフィール写真）</span></a>
            </li>
            <li style="display:inline-block;width:10.5%;padding:5px .5% 0 5px;background-color:orange;text-align:center;height:3rem;vertical-align:top;font-size:1rem;">
                <a href="portrait-deceased.html"
                   style="color:white;text-decoration:none;width:100%;height:100%;">遺影写真<br><span
                        style="font-size:.8rem;">（肖像写真）</span></a>
            </li>
            <li style="display:inline-block;width:10.5%;padding:5px .5% 0 5px;background-color:orange;text-align:center;height:3rem;vertical-align:top;font-size:1rem;">
                <a href="cmphoto.html"
                   style="color:white;text-decoration:none;width:100%;height:100%;">商品撮影<br><span
                        style="font-size:.8rem;">（Business）</span></a>
            </li>
            <li style="display:inline-block;width:10.5%;padding:5px .5% 0 5px;background-color:orange;text-align:center;height:3rem;vertical-align:top;font-size:1rem;">
                <a href="support.html" style="color:white;text-decoration:none;width:100%;height:100%;">予約<br><span
                        style="font-size:.8rem;">（お問い合わせ）</span></a>
            </li>
            <li style="display:inline-block;width:10.5%;padding:5px .5% 0 5px;background-color:orange;text-align:center;height:3rem;vertical-align:top;font-size:1rem;">
                <a href="access.html" style="color:white;text-decoration:none;width:100%;height:100%;">アクセス<br><span
                        style="font-size:.8rem;">（MAP）</span></a>
            </li>
            <li style="display:inline-block;width:10.5%;padding:5px .5% 0 5px;background-color:orange;text-align:center;height:3rem;vertical-align:top;font-size:1rem;">
                <a href="sitemap.html"
                   style="color:white;text-decoration:none;width:100%;height:100%;">サイトマップ<br><span
                        style="font-size:.8rem;">（site map）</span></a>
            </li>

        </ul>
    </div>
</div>
</div>